[Unit]
Description=Smarty Tree battlesnake service
After=syslog.target network-online.target

[Service]
User=snakeservice
Group=snakeservice

Type=simple
WorkingDirectory=/opt/snake/
ExecStart=/usr/bin/java -XX:+UseG1GC -Xmx800m -XX:MaxGCPauseMillis=10 -jar smartytree.jar
Restart=always

[Install]
WantedBy=network-online.target
